.about-img{
  flex: 1;
  object-fit: contain;
  width: 100%;
  mix-blend-mode: multiply;
}
.about-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: 10px;
  background-color: #f3f3f3;
  padding: calc(4rem - 10px) calc(2rem - 10px);
}
.about-text{
  flex: 1;
  padding: 2rem 0;
}
.about-text h3{
  font-size: 25px;
  font-weight: 400;
  line-height: 31px;
  padding: 0.5rem 0 1rem 0;
}
.about-text p{
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  padding: 0.5rem 0;
}
@media screen and (max-width: 767px) {
  .about-section{
    flex-direction: column;
    column-gap: 10px;
    padding: calc(4rem - 10px) 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .about-section{
    padding: calc(4rem - 10px) calc(2rem - 10px);
  }
} 
@media screen and (min-width: 993px) {
  .about-section{
    padding: calc(4rem - 10px) calc(4rem - 10px);
  }
}